a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    border: 2px solid white;
}

