/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/material.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fa-bug,
.fa-exclamation-triangle {
    color:red;
   }

.fa-check-square {
    color:blue;
}

.fa-bolt,
.fa-angle-double-up {
    color: orange;
}

.fa-angle-double-down {
    color: lightblue;
}

.fa-plus-square {
    color: mediumseagreen;
}

.fa-long-arrow-alt-down {
    color: lightgrey;
}

.fa-question-circle {
    color: purple;
}

.fa-bookmark {
    color: coral;
}

.mat-tooltip.tooltip {
    background-color: rgba(0,0,0,0.5);
    font-size: 12px;
  }
